{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href={% static 'materialize/dist/css/materialize.min.css' %} />
    <link type="text/css" rel="stylesheet" href={% static 'css/style.css' %} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>buScool - {% block title %}{% endblock %}</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
          <a href={% url 'home' %} class="brand-logo">BuScool</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          {% if user.is_authenticated%}
          <ul class="right hide-on-med-and-down">
               <li><a href={% url 'home' %}>{% if  user.get_full_name == None  %}{{ user.get_username }}{% else %}{{ user.get_full_name }}{% endif %}<i class="material-icons right">account_box</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><a href={% url 'home' %}>{% if  user.get_full_name == None  %}{{ user.get_username }}{% else %}{{ user.get_full_name }}{% endif %}<i class="material-icons left">account_box</i></a></li>
         </ul>
          {% else %}
           <ul class="right hide-on-med-and-down">
               <li><a href={% url 'home' %}>Acessar</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><a href={% url 'home' %}>Acessar</a></li>
         </ul>
          {% endif %}
       </div>
    </div>
  </nav>
   <div class="container">
      {% block content %}
      {% endblock %}
   </div>
  <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
  <script type="text/javascript" src='{% static 'materialize/dist/js/materialize.min.js' %}'></script>
<script>
    $(".button-collapse").sideNav();
</script>
</body>
</html>
