{% extends "base.html" %}
{% block title %}Pesquisa{% endblock %}
{% block content %}
    <div class="center homeCenter">
    <div class="row">
        <h3>Resultado para {{ pesquisado }}</h3>
        <div class="col s12 m6">
            <div class="card medium">
            <div class="card-image">
              <img src="http://lorempixel.com/100/190/nature/6">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
         <div class="col s12 m6">
            <div class="card medium">
            <div class="card-image">
              <img src="http://lorempixel.com/100/190/nature/6">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    </div>
    </div>
{% endblock %}