{% extends "base.html" %}
{% block title %}Pesquisa{% endblock %}
{% block content %}

        <div class="row">
           <p class="resultPesquisa">Resultado para : <span class="subTitle">{{ pesquisa }}</span></p>
        </div>
        <div class="row center">
        {% for motorista in motoristas %}
            <div class="col s12 m4">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img src="http://lorempixel.com/200/150/nature/6">
                    </div>
                    <div class="card-content">
                        <div class="row">
                            {% if motorista.deficiente %}
                            <a class="left"><i class="material-icons">accessible</i>{{ motorista.veiculo.capacidadeDeficiente }}</a>
                            {% endif %}
                            <a class="left"><i class="material-icons">accessibility</i>{{ motorista.veiculo.capacidade }}</a>
                            <a class="right"><i class="material-icons">star_border</i></a>
                            <a class="right"><i class="material-icons">star</i></a>
                            <a class="right"><i class="material-icons">star</i></a>
                            <a class="right"><i class="material-icons">star</i></a>
                            <a class="right"><i class="material-icons">star</i></a>
                        </div>
                        <div class="row">
                            <h1 class="card-title">{{ motorista.nome }}<br/> <small>{{ motorista.apelido }}</small></h1>
                            <p class="descricao">{{ motorista.descricao }}</p>
                        </div>
                    </div>
                    <div class="card-action">
                       <a href="{% url "site:detalhe" pk=motorista.pk %}"><i class="material-icons right">add</i>Conheça-o</a>
                    </div>
                </div>
            </div>
        {% endfor %}
         </div>
    {%  include "footer.html" %}
{% endblock %}